In [1]:
import pandas as pd

import requests

The end result of this exercise should be a file named acquire.py.

1. Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items. (I was told I could use https://api.data.codeup.com/ as well)

In [2]:
url = 'https://api.data.codeup.com' + '/api/v1'
response = requests.get(url)
response.json()

{'payload': {'routes': ['/stores',
   '/stores/{store_id}',
   '/items',
   '/items/{item_id}',
   '/sales',
   '/sales/{sale_id}']},
 'status': 'ok'}

In [3]:
url = 'https://api.data.codeup.com' + '/api/v1/items'
response = requests.get(url)
data = response.json()

In [4]:
data.keys()

dict_keys(['payload', 'status'])

In [5]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [6]:
data['payload']['items']

[{'item_brand': 'Riceland',
  'item_id': 1,
  'item_name': 'Riceland American Jazmine Rice',
  'item_price': 0.84,
  'item_upc12': '35200264013',
  'item_upc14': '35200264013'},
 {'item_brand': 'Caress',
  'item_id': 2,
  'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
  'item_price': 6.44,
  'item_upc12': '11111065925',
  'item_upc14': '11111065925'},
 {'item_brand': 'Earths Best',
  'item_id': 3,
  'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
  'item_price': 2.43,
  'item_upc12': '23923330139',
  'item_upc14': '23923330139'},
 {'item_brand': 'Boars Head',
  'item_id': 4,
  'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
  'item_price': 3.14,
  'item_upc12': '208528800007',
  'item_upc14': '208528800007'},
 {'item_brand': 'Back To Nature',
  'item_id': 5,
  'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
  'item_price': 2.61,
  'item_upc12': '759283100036',
  'item_upc14': '759283100036'},
 {'item_brand': 'Sally Hansen',
  'item_id': 6,
  'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
  'item_price': 6.93,
  'item_upc12': '74170388732',
  'item_upc14': '74170388732'},
 {'item_brand': 'Twinings Of London',
  'item_id': 7,
  'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
  'item_price': 9.64,
  'item_upc12': '70177154004',
  'item_upc14': '70177154004'},
 {'item_brand': 'Lea & Perrins',
  'item_id': 8,
  'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
  'item_price': 1.68,
  'item_upc12': '51600080015',
  'item_upc14': '51600080015'},
 {'item_brand': 'Van De Kamps',
  'item_id': 9,
  'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
  'item_price': 1.79,
  'item_upc12': '19600923015',
  'item_upc14': '19600923015'},
 {'item_brand': 'Ahold',
  'item_id': 10,
  'item_name': 'Ahold Cocoa Almonds',
  'item_price': 3.17,
  'item_upc12': '688267141676',
  'item_upc14': '688267141676'},
 {'item_brand': 'Honest Tea',
  'item_id': 11,
  'item_name': 'Honest Tea Peach White Tea',
  'item_price': 3.93,
  'item_upc12': '657622604842',
  'item_upc14': '657622604842'},
 {'item_brand': 'Mueller',
  'item_id': 12,
  'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
  'item_price': 8.4,
  'item_upc12': '74676640211',
  'item_upc14': '74676640211'},
 {'item_brand': 'Garnier Nutritioniste',
  'item_id': 13,
  'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
  'item_price': 6.47,
  'item_upc12': '603084234561',
  'item_upc14': '603084234561'},
 {'item_brand': 'Pamprin',
  'item_id': 14,
  'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
  'item_price': 7.54,
  'item_upc12': '41167300121',
  'item_upc14': '41167300121'},
 {'item_brand': 'Suave',
  'item_id': 15,
  'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
  'item_price': 9.11,
  'item_upc12': '79400847201',
  'item_upc14': '79400847201'},
 {'item_brand': 'Burts Bees',
  'item_id': 16,
  'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
  'item_price': 5.17,
  'item_upc12': '792850014008',
  'item_upc14': '792850014008'},
 {'item_brand': 'Ducal',
  'item_id': 17,
  'item_name': 'Ducal Refried Red Beans',
  'item_price': 1.16,
  'item_upc12': '88313590791',
  'item_upc14': '88313590791'},
 {'item_brand': 'Scotch',
  'item_id': 18,
  'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
  'item_price': 4.39,
  'item_upc12': '21200725340',
  'item_upc14': '21200725340'},
 {'item_brand': 'Careone',
  'item_id': 19,
  'item_name': 'Careone Family Comb Set - 8 Ct',
  'item_price': 0.74,
  'item_upc12': '41520035646',
  'item_upc14': '41520035646'},
 {'item_brand': 'Usda Produce',
  'item_id': 20,
  'item_name': 'Plums Black',
  'item_price': 5.62,
  'item_upc12': '204040000000',
  'item_upc14': '204040000000'}]

In [7]:
items_list = []
items_list.extend(data['payload']['items'])

In [8]:
pd.DataFrame(items_list)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036
5,Sally Hansen,6,Sally Hansen Nail Color Magnetic 903 Silver El...,6.93,74170388732,74170388732
6,Twinings Of London,7,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004
7,Lea & Perrins,8,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
8,Van De Kamps,9,Van De Kamps Fillets Beer Battered - 10 Ct,1.79,19600923015,19600923015
9,Ahold,10,Ahold Cocoa Almonds,3.17,688267141676,688267141676
10,Honest Tea,11,Honest Tea Peach White Tea,3.93,657622604842,657622604842
11,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211
12,Garnier Nutritioniste,13,Garnier Nutritioniste Moisture Rescue Fresh Cl...,6.47,603084234561,603084234561
13,Pamprin,14,Pamprin Maximum Strength Multi-symptom Menstru...,7.54,41167300121,41167300121
14,Suave,15,Suave Naturals Moisturizing Body Wash Creamy T...,9.11,79400847201,79400847201
15,Burts Bees,16,Burts Bees Daily Moisturizing Cream Sensitive,5.17,792850014008,792850014008
16,Ducal,17,Ducal Refried Red Beans,1.16,88313590791,88313590791
17,Scotch,18,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340
18,Careone,19,Careone Family Comb Set - 8 Ct,0.74,41520035646,41520035646
19,Usda Produce,20,Plums Black,5.62,204040000000,204040000000

In [9]:
if data['payload']['next_page'] != None:
    url = 'https://api.data.codeup.com' + data['payload']['next_page']
    print('nope')

nope

In [10]:
response = requests.get(url)
data = response.json()
data['payload']['next_page']

'/api/v1/items?page=3'

In [11]:
response = requests.get(url)
data = response.json()
data['payload']['next_page']

'/api/v1/items?page=3'

In [12]:
data['payload']['next_page']

'/api/v1/items?page=3'

In [13]:
def get_items(starting_url):
    items_list = []
    url = None
    
    while True:
        if url == None:
            url = starting_url
        else:
            response = requests.get(url)
            data = response.json()
            items_list.extend(data['payload']['items'])
            if data['payload']['next_page'] != None:
                url = 'https://api.data.codeup.com' + data['payload']['next_page']
            else:
                return pd.DataFrame(items_list)

In [14]:
items = get_items('https://api.data.codeup.com/api/v1/items')

2. Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [15]:
def get_stores(starting_url):
    stores_list = []
    url = None
    
    while True:
        if url == None:
            url = starting_url
        else:
            response = requests.get(url)
            data = response.json()
            stores_list.extend(data['payload']['stores'])
            if data['payload']['next_page'] != None:
                url = 'https://api.data.codeup.com' + data['payload']['next_page']
            else:
                return pd.DataFrame(stores_list)

In [16]:
get_stores('https://api.data.codeup.com/api/v1/stores')

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

In [17]:
stores = get_stores('https://api.data.codeup.com/api/v1/stores')

3. Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [18]:
def get_sales(starting_url):
    sales_list = []
    url = None
    
    while True:
        if url == None:
            url = starting_url
        else:
            response = requests.get(url)
            data = response.json()
            sales_list.extend(data['payload']['sales'])
            if data['payload']['next_page'] != None:
                url = 'https://api.data.codeup.com' + data['payload']['next_page']
                print(f'next_page is: {url}')
            else:
                return pd.DataFrame(sales_list)

In [19]:
sales = get_sales('https://api.data.codeup.com/api/v1/sales')

next_page is: https://api.data.codeup.com/api/v1/sales?page=2
next_page is: https://api.data.codeup.com/api/v1/sales?page=3
next_page is: https://api.data.codeup.com/api/v1/sales?page=4
next_page is: https://api.data.codeup.com/api/v1/sales?page=5
next_page is: https://api.data.codeup.com/api/v1/sales?page=6
next_page is: https://api.data.codeup.com/api/v1/sales?page=7
next_page is: https://api.data.codeup.com/api/v1/sales?page=8
next_page is: https://api.data.codeup.com/api/v1/sales?page=9
next_page is: https://api.data.codeup.com/api/v1/sales?page=10
next_page is: https://api.data.codeup.com/api/v1/sales?page=11
next_page is: https://api.data.codeup.com/api/v1/sales?page=12
next_page is: https://api.data.codeup.com/api/v1/sales?page=13
next_page is: https://api.data.codeup.com/api/v1/sales?page=14
next_page is: https://api.data.codeup.com/api/v1/sales?page=15
next_page is: https://api.data.codeup.com/api/v1/sales?page=16
next_page is: https://api.data.codeup.com/api/v1/sales?page=17
next_page is: https://api.data.codeup.com/api/v1/sales?page=18
next_page is: https://api.data.codeup.com/api/v1/sales?page=19
next_page is: https://api.data.codeup.com/api/v1/sales?page=20
next_page is: https://api.data.codeup.com/api/v1/sales?page=21
next_page is: https://api.data.codeup.com/api/v1/sales?page=22
next_page is: https://api.data.codeup.com/api/v1/sales?page=23
next_page is: https://api.data.codeup.com/api/v1/sales?page=24
next_page is: https://api.data.codeup.com/api/v1/sales?page=25
next_page is: https://api.data.codeup.com/api/v1/sales?page=26
next_page is: https://api.data.codeup.com/api/v1/sales?page=27
next_page is: https://api.data.codeup.com/api/v1/sales?page=28
next_page is: https://api.data.codeup.com/api/v1/sales?page=29
next_page is: https://api.data.codeup.com/api/v1/sales?page=30
next_page is: https://api.data.codeup.com/api/v1/sales?page=31
next_page is: https://api.data.codeup.com/api/v1/sales?page=32
next_page is: https://api.data.codeup.com/api/v1/sales?page=33
next_page is: https://api.data.codeup.com/api/v1/sales?page=34
next_page is: https://api.data.codeup.com/api/v1/sales?page=35
next_page is: https://api.data.codeup.com/api/v1/sales?page=36
next_page is: https://api.data.codeup.com/api/v1/sales?page=37
next_page is: https://api.data.codeup.com/api/v1/sales?page=38
next_page is: https://api.data.codeup.com/api/v1/sales?page=39
next_page is: https://api.data.codeup.com/api/v1/sales?page=40
next_page is: https://api.data.codeup.com/api/v1/sales?page=41
next_page is: https://api.data.codeup.com/api/v1/sales?page=42
next_page is: https://api.data.codeup.com/api/v1/sales?page=43
next_page is: https://api.data.codeup.com/api/v1/sales?page=44
next_page is: https://api.data.codeup.com/api/v1/sales?page=45
next_page is: https://api.data.codeup.com/api/v1/sales?page=46
next_page is: https://api.data.codeup.com/api/v1/sales?page=47
next_page is: https://api.data.codeup.com/api/v1/sales?page=48
next_page is: https://api.data.codeup.com/api/v1/sales?page=49
next_page is: https://api.data.codeup.com/api/v1/sales?page=50
next_page is: https://api.data.codeup.com/api/v1/sales?page=51
next_page is: https://api.data.codeup.com/api/v1/sales?page=52
next_page is: https://api.data.codeup.com/api/v1/sales?page=53
next_page is: https://api.data.codeup.com/api/v1/sales?page=54
next_page is: https://api.data.codeup.com/api/v1/sales?page=55
next_page is: https://api.data.codeup.com/api/v1/sales?page=56
next_page is: https://api.data.codeup.com/api/v1/sales?page=57
next_page is: https://api.data.codeup.com/api/v1/sales?page=58
next_page is: https://api.data.codeup.com/api/v1/sales?page=59
next_page is: https://api.data.codeup.com/api/v1/sales?page=60
next_page is: https://api.data.codeup.com/api/v1/sales?page=61
next_page is: https://api.data.codeup.com/api/v1/sales?page=62
next_page is: https://api.data.codeup.com/api/v1/sales?page=63
next_page is: https://api.data.codeup.com/api/v1/sales?page=64
next_page is: https://api.data.codeup.com/api/v1/sales?page=65
next_page is: https://api.data.codeup.com/api/v1/sales?page=66
next_page is: https://api.data.codeup.com/api/v1/sales?page=67
next_page is: https://api.data.codeup.com/api/v1/sales?page=68
next_page is: https://api.data.codeup.com/api/v1/sales?page=69
next_page is: https://api.data.codeup.com/api/v1/sales?page=70
next_page is: https://api.data.codeup.com/api/v1/sales?page=71
next_page is: https://api.data.codeup.com/api/v1/sales?page=72
next_page is: https://api.data.codeup.com/api/v1/sales?page=73
next_page is: https://api.data.codeup.com/api/v1/sales?page=74
next_page is: https://api.data.codeup.com/api/v1/sales?page=75
next_page is: https://api.data.codeup.com/api/v1/sales?page=76
next_page is: https://api.data.codeup.com/api/v1/sales?page=77
next_page is: https://api.data.codeup.com/api/v1/sales?page=78
next_page is: https://api.data.codeup.com/api/v1/sales?page=79
next_page is: https://api.data.codeup.com/api/v1/sales?page=80
next_page is: https://api.data.codeup.com/api/v1/sales?page=81
next_page is: https://api.data.codeup.com/api/v1/sales?page=82
next_page is: https://api.data.codeup.com/api/v1/sales?page=83
next_page is: https://api.data.codeup.com/api/v1/sales?page=84
next_page is: https://api.data.codeup.com/api/v1/sales?page=85
next_page is: https://api.data.codeup.com/api/v1/sales?page=86
next_page is: https://api.data.codeup.com/api/v1/sales?page=87
next_page is: https://api.data.codeup.com/api/v1/sales?page=88
next_page is: https://api.data.codeup.com/api/v1/sales?page=89
next_page is: https://api.data.codeup.com/api/v1/sales?page=90
next_page is: https://api.data.codeup.com/api/v1/sales?page=91
next_page is: https://api.data.codeup.com/api/v1/sales?page=92
next_page is: https://api.data.codeup.com/api/v1/sales?page=93
next_page is: https://api.data.codeup.com/api/v1/sales?page=94
next_page is: https://api.data.codeup.com/api/v1/sales?page=95
next_page is: https://api.data.codeup.com/api/v1/sales?page=96
next_page is: https://api.data.codeup.com/api/v1/sales?page=97
next_page is: https://api.data.codeup.com/api/v1/sales?page=98
next_page is: https://api.data.codeup.com/api/v1/sales?page=99
next_page is: https://api.data.codeup.com/api/v1/sales?page=100
next_page is: https://api.data.codeup.com/api/v1/sales?page=101
next_page is: https://api.data.codeup.com/api/v1/sales?page=102
next_page is: https://api.data.codeup.com/api/v1/sales?page=103
next_page is: https://api.data.codeup.com/api/v1/sales?page=104
next_page is: https://api.data.codeup.com/api/v1/sales?page=105
next_page is: https://api.data.codeup.com/api/v1/sales?page=106
next_page is: https://api.data.codeup.com/api/v1/sales?page=107
next_page is: https://api.data.codeup.com/api/v1/sales?page=108
next_page is: https://api.data.codeup.com/api/v1/sales?page=109
next_page is: https://api.data.codeup.com/api/v1/sales?page=110
next_page is: https://api.data.codeup.com/api/v1/sales?page=111
next_page is: https://api.data.codeup.com/api/v1/sales?page=112
next_page is: https://api.data.codeup.com/api/v1/sales?page=113
next_page is: https://api.data.codeup.com/api/v1/sales?page=114
next_page is: https://api.data.codeup.com/api/v1/sales?page=115
next_page is: https://api.data.codeup.com/api/v1/sales?page=116
next_page is: https://api.data.codeup.com/api/v1/sales?page=117
next_page is: https://api.data.codeup.com/api/v1/sales?page=118
next_page is: https://api.data.codeup.com/api/v1/sales?page=119
next_page is: https://api.data.codeup.com/api/v1/sales?page=120
next_page is: https://api.data.codeup.com/api/v1/sales?page=121
next_page is: https://api.data.codeup.com/api/v1/sales?page=122
next_page is: https://api.data.codeup.com/api/v1/sales?page=123
next_page is: https://api.data.codeup.com/api/v1/sales?page=124
next_page is: https://api.data.codeup.com/api/v1/sales?page=125
next_page is: https://api.data.codeup.com/api/v1/sales?page=126
next_page is: https://api.data.codeup.com/api/v1/sales?page=127
next_page is: https://api.data.codeup.com/api/v1/sales?page=128
next_page is: https://api.data.codeup.com/api/v1/sales?page=129
next_page is: https://api.data.codeup.com/api/v1/sales?page=130
next_page is: https://api.data.codeup.com/api/v1/sales?page=131

next_page is: https://api.data.codeup.com/api/v1/sales?page=132
next_page is: https://api.data.codeup.com/api/v1/sales?page=133
next_page is: https://api.data.codeup.com/api/v1/sales?page=134
next_page is: https://api.data.codeup.com/api/v1/sales?page=135
next_page is: https://api.data.codeup.com/api/v1/sales?page=136
next_page is: https://api.data.codeup.com/api/v1/sales?page=137
next_page is: https://api.data.codeup.com/api/v1/sales?page=138
next_page is: https://api.data.codeup.com/api/v1/sales?page=139
next_page is: https://api.data.codeup.com/api/v1/sales?page=140
next_page is: https://api.data.codeup.com/api/v1/sales?page=141
next_page is: https://api.data.codeup.com/api/v1/sales?page=142
next_page is: https://api.data.codeup.com/api/v1/sales?page=143
next_page is: https://api.data.codeup.com/api/v1/sales?page=144
next_page is: https://api.data.codeup.com/api/v1/sales?page=145
next_page is: https://api.data.codeup.com/api/v1/sales?page=146
next_page is: https://api.data.codeup.com/api/v1/sales?page=147
next_page is: https://api.data.codeup.com/api/v1/sales?page=148
next_page is: https://api.data.codeup.com/api/v1/sales?page=149
next_page is: https://api.data.codeup.com/api/v1/sales?page=150
next_page is: https://api.data.codeup.com/api/v1/sales?page=151
next_page is: https://api.data.codeup.com/api/v1/sales?page=152
next_page is: https://api.data.codeup.com/api/v1/sales?page=153
next_page is: https://api.data.codeup.com/api/v1/sales?page=154
next_page is: https://api.data.codeup.com/api/v1/sales?page=155
next_page is: https://api.data.codeup.com/api/v1/sales?page=156
next_page is: https://api.data.codeup.com/api/v1/sales?page=157
next_page is: https://api.data.codeup.com/api/v1/sales?page=158
next_page is: https://api.data.codeup.com/api/v1/sales?page=159
next_page is: https://api.data.codeup.com/api/v1/sales?page=160
next_page is: https://api.data.codeup.com/api/v1/sales?page=161
next_page is: https://api.data.codeup.com/api/v1/sales?page=162
next_page is: https://api.data.codeup.com/api/v1/sales?page=163
next_page is: https://api.data.codeup.com/api/v1/sales?page=164
next_page is: https://api.data.codeup.com/api/v1/sales?page=165
next_page is: https://api.data.codeup.com/api/v1/sales?page=166
next_page is: https://api.data.codeup.com/api/v1/sales?page=167
next_page is: https://api.data.codeup.com/api/v1/sales?page=168
next_page is: https://api.data.codeup.com/api/v1/sales?page=169
next_page is: https://api.data.codeup.com/api/v1/sales?page=170
next_page is: https://api.data.codeup.com/api/v1/sales?page=171
next_page is: https://api.data.codeup.com/api/v1/sales?page=172
next_page is: https://api.data.codeup.com/api/v1/sales?page=173
next_page is: https://api.data.codeup.com/api/v1/sales?page=174
next_page is: https://api.data.codeup.com/api/v1/sales?page=175
next_page is: https://api.data.codeup.com/api/v1/sales?page=176
next_page is: https://api.data.codeup.com/api/v1/sales?page=177
next_page is: https://api.data.codeup.com/api/v1/sales?page=178
next_page is: https://api.data.codeup.com/api/v1/sales?page=179
next_page is: https://api.data.codeup.com/api/v1/sales?page=180
next_page is: https://api.data.codeup.com/api/v1/sales?page=181
next_page is: https://api.data.codeup.com/api/v1/sales?page=182
next_page is: https://api.data.codeup.com/api/v1/sales?page=183

In [20]:
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [36]:
items.to_csv('codeup_api_items.csv', index=False)
stores.to_csv('codeup_api_stores.csv', index=False)
sales.to_csv('codeup_api_sales.csv', index=False)

In [37]:
# The ! in a jupyter notebook is a way to issue commands to the command line
!echo "*.csv" >> .gitignore

5. Combine the data from your three separate dataframes into one large dataframe.

In [22]:
items.shape, stores.shape, sales.shape

((50, 6), (10, 5), (913000, 5))

In [38]:
items.isna().sum(), stores.isna().sum(), sales.isna().sum()

(item_brand    0
 item_id       0
 item_name     0
 item_price    0
 item_upc12    0
 item_upc14    0
 dtype: int64,
 store_address    0
 store_city       0
 store_id         0
 store_state      0
 store_zipcode    0
 dtype: int64,
 item           0
 sale_amount    0
 sale_date      0
 sale_id        0
 store          0
 dtype: int64)

In [23]:
items.head(2)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925

In [24]:
stores.head(2)

            store_address   store_city  store_id store_state store_zipcode
0  12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1        9255 FM 471 West  San Antonio         2          TX         78251

In [25]:
sales.head(2)

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1

In [26]:
comp_df = items.set_index('item_id').join(sales.set_index('item'))

In [27]:
comp_df.head()

,item_brand,item_name,item_price,item_upc12,item_upc14,sale_amount,sale_date,sale_id,store
1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1
1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1
1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1
1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1
1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1

In [28]:
final_df = comp_df.set_index('store').join(stores.set_index('store_id'))

In [29]:
final_df.head()

,item_brand,item_name,item_price,item_upc12,item_upc14,sale_amount,sale_date,sale_id,store_address,store_city,store_state,store_zipcode
1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,12125 Alamo Ranch Pkwy,San Antonio,TX,78253

In [34]:
final_df.shape

(913000, 12)

6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [30]:
power_systems = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [31]:
power_systems.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [32]:
power_systems.Solar.value_counts()

85.920     2
40.042     2
188.273    2
27.270     1
20.226     1
          ..
41.011     1
10.548     1
11.752     1
25.286     1
19.980     1
Name: Solar, Length: 2185, dtype: int64

In [35]:
power_systems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 171.3+ KB

7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

**Yes it's reproducible**

In [39]:
import numpy as np

In [43]:
np.zeros_like(power_systems)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       ...,
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]], dtype=object)